*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom, #000, #52796F); */
    background-image: linear-gradient(to bottom, #1a1b1b, #000000);
    flex-direction: column;
    overflow-x: hidden;
}


/* Container */
.container{
    align-items: start; 
}
.navbar{
    margin: 40px;
    background-color: whitesmoke;
    height: 5vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
    /* divider */

}
.Introduction{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 150px;
    padding-bottom: 150px;
}

.About-Me{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 100px; 
}
.box{
    width: 100%;
    display: inline-flex;
    justify-content: space-between; 
    align-items: center;
}
.boxhide{
    filter: blur(5px);
    transform: translateX(300%);
    transition: 
    transform .8s ease,
    filter 1.2s ease ;
}

.boxhide.show{
    filter: blur(0);
    transform: translateX(0);
}

.About-image{
    width: 52%;
    justify-content: center; 
    align-items: center;
}
/* endContainer */

/* Navbar section */
.navbar-item{
    width:30%;
    display: inline-flex;
    list-style-type: none;
}
.icons{

    width:40%;
    height: auto;
}
.Text1{
    display: flex;
    width: 50%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
}

.Text2 a{
    display: flex;
    width:20%;
    color: black;
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap; 
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/* Introduction section */
.Text-cmd{
    height: 50vh;
    width: 40%;
    color: #70e000;
    font-size: 30px;
    font-weight: lighter;
    overflow: hidden; 
    white-space: nowrap; 
    display: inline-flex;
    margin-left: 100px;
    justify-content: start;
    align-items: center;
}

.intro-item li{
    list-style-type: none;
}

.intro-item li span {
    position: relative;
}

.typing-text1 {
    font-size: 35px;
    font-weight: bold;
}
.typing-text1::after {
    position: absolute;
    height: 100%;
    width: 100%;

    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #70e000;
    animation: typing 2.5s steps(30, end) forwards, cursor .4s alternate infinite;
}
.typing-text2::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 2.5s steps(30, end) forwards, cursor .4s  alternate infinite;
    animation-delay: 2.5s;

}
.typing-text3::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 1s steps(8, end) forwards, cursor .4s alternate infinite;
    animation-delay: 4.5s;} 

.typing-text4::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 1s steps(6, end) forwards, cursor .4s alternate infinite;
    animation-delay: 5.5s;}

.typing-text5::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 1s steps(12, end) forwards, cursor .4s alternate infinite;
    animation-delay: 6.5s;}

.typing-text6::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;;
    animation: typing 1s steps(12, end) forwards, cursor .4s alternate infinite;
    animation-delay: 7.5s;}

.typing-text7::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation:
        typing1 2.5s steps(30, end) forwards, 
        cursor .4s alternate infinite;
    animation-delay: 8.5s;}

@keyframes typing {
    1%{
        border-left: 2px solid #70e000;
    }
    100% {
        left: 100%;
        border-left: 2px solid #1a1b1b;
    }
}
@keyframes typing1 {
    1%{
        border-left: 2px solid #70e000;
    }
    100% {
        left: 100%;
        border-left: 2px solid #70e000;
    }
}


@keyframes cursor {
    50% {
        border-left: transparent;
    }
}


/* About section */
.TextA{
    display: flex;
    color: whitesmoke;
    font-size: 100px;
    font-style: italic;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.date{
    color: #70e000;
    font-size: 100px;
    font-style: bold; 
    position: absolute;
    transform: 
        translateX(300%) 
        translateY(-200%)
        scale(30%);
    transition: 
    transform .8s ease;
    
}
.date.dateshow{
    transform: translateX(300%) translateY(-300%) scale(100%);
}
.about-item{
    display: inline-block;
    width: 45%;
    margin-top: 100px;
}
.text-about{
    display: grid;
    text-wrap: wrap;
    color: white;
    font-size: 25px;
    font-weight: lighter;
}

.Sample-Img{
    width: 52%;
    
}
.Sample-Img ul{
    list-style: none;
}
.img1,.img3{
    width: 18%;
    top: 320px;
    position: absolute;
}
.img1{
    transform: rotate(-15deg);
    margin: 0;
    background-color: aqua;
}
.img2{
    top: 280px;
    margin-left: 250px;
    width: 18%;
    position: absolute;
    /* right: 380px; */
    background-color: yellow;
}
.img3{
    margin-left: 530px;
    /* right: 20px; */
    transform: rotate(15deg);
    background-color: red;
}


