*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000, #52796F);
    overflow: auto;
}

/* Container */
.container{
    align-items: start; 
}
.navbar{
    margin: 40px;
    background-color: whitesmoke;
    height: 5vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
    /* divider */

}
.Introduction{
    display: flex;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
    margin-left: 40px;
    margin-right: 40px;
}
.About-Me{
    display: flex;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    /* divider */
    border-bottom: 5px solid;   
    border-color: red;
    opacity: 0;
}

/* endContainer */

/* Navbar section */
.navbar-item{
    width:30%;
    display: inline-flex;
    list-style-type: none;
}
.icons{
    width:40%;
    height: auto;

}

/* Introduction section */
.Text-cmd{
    height: 50vh;
    color: #70e000;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 30px;
    
    overflow: hidden; 
    white-space: nowrap; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.intro-item li{
    list-style-type: none;
    position: relative;    
}
.intro-item li span::after{ 
    content: "";
    left: 0;
    border-left: 2px solid #70e000;
}


  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
/* About section */
.about-item{
    color: white;
    font-size: 50px;
    font-weight: lighter;
}
.text-about{
    margin-left: 100px;
}

.Sample-Img{
    width: 52%;
}
.Sample-Img ul{
    list-style: none;
}
.img1,.img3{
    width: 18%;
    top: 220px;
    position: absolute;
}
.img1{
    transform: rotate(-15deg);
    margin: 0;
    background-color: aqua;
}
.img2{
    top: 180px;
    margin-left: 250px;
    width: 18%;
    position: absolute;
    /* right: 380px; */
    background-color: yellow;
}
.img3{
    margin-left: 530px;
    /* right: 20px; */
    transform: rotate(15deg);
    background-color: red;
}


