*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom, #000, #52796F); */
    background-image: linear-gradient(to bottom, #1a1b1b, #1b2220);

    overflow: auto;
}

/* Container */
.container{
    align-items: start; 
}
.navbar{
    margin: 40px;
    background-color: whitesmoke;
    height: 5vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
    /* divider */

}
.Introduction{
    display: flex;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
}
.About-Me{
    display: flex;
    width: 10%;
    justify-content: space-between; /* Distributes content evenly along the main axis (horizontally) */
    align-items: center; /* Vertically center-align content */
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    /* divider */
    border-bottom: 5px solid;   
    border-color: red;
}

/* endContainer */

/* Navbar section */
.navbar-item{
    width:30%;
    display: inline-flex;
    list-style-type: none;
}
.icons{
    width:40%;
    height: auto;

}

/* Introduction section */
.Text-cmd{
    height: 50vh;
    width: 40%;
    color: #70e000;
    font-size: 30px;
    font-weight: lighter;
    overflow: hidden; 
    white-space: nowrap; 
    display: inline-flex;
    margin-left: 100px;
    justify-content: start;
    align-items: center;
}

.intro-item li{
    list-style-type: none;
}

.intro-item li span {
    position: relative;
}

.typing-text1::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #70e000;
    animation: typing 2.5s steps(30, end) forwards, cursor .4s alternate infinite;
}
.typing-text2::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 2.5s steps(30, end) forwards, cursor .4s  alternate infinite;
    animation-delay: 2.5s;

}
.typing-text3::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 1s steps(8, end) forwards, cursor .4s alternate infinite;
    animation-delay: 4.5s;} 

.typing-text4::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 1s steps(6, end) forwards, cursor .4s alternate infinite;
    animation-delay: 5.5s;}

.typing-text5::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation: typing 1s steps(12, end) forwards, cursor .4s alternate infinite;
    animation-delay: 6.5s;}

.typing-text6::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;;
    animation: typing 1s steps(12, end) forwards, cursor .4s alternate infinite;
    animation-delay: 7.5s;}

.typing-text7::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background:#1a1b1b;
    left: 0;
    border-left: 2px solid #1a1b1b;
    animation:
        typing1 2.5s steps(30, end) forwards, 
        cursor .4s alternate infinite;
    animation-delay: 8.5s;}

@keyframes typing {
    1%{
        border-left: 2px solid #70e000;
    }
    100% {
        left: 100%;
        border-left: 2px solid #1a1b1b;
    }
}
@keyframes typing1 {
    1%{
        border-left: 2px solid #70e000;
    }
    100% {
        left: 100%;
        border-left: 2px solid #70e000;
    }
}


@keyframes cursor {
    50% {
        border-left: transparent;
    }
}


/* About section */
.about-item{
    color: white;
    font-size: 50px;
    font-weight: lighter;
}
.text-about{
    margin-left: 100px;
}

.Sample-Img{
    width: 52%;
}
.Sample-Img ul{
    list-style: none;
}
.img1,.img3{
    width: 18%;
    top: 220px;
    position: absolute;
}
.img1{
    transform: rotate(-15deg);
    margin: 0;
    background-color: aqua;
}
.img2{
    top: 180px;
    margin-left: 250px;
    width: 18%;
    position: absolute;
    /* right: 380px; */
    background-color: yellow;
}
.img3{
    margin-left: 530px;
    /* right: 20px; */
    transform: rotate(15deg);
    background-color: red;
}


